.background{
    background-color: #D6FFD0;
}
.main-division{
    display: flex;
    justify-content: space-around;
}

.button-span{
    display: flex;
    justify-content: center;
}

.button-new{
    background-color: #E54A4A;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;

    position:fixed;
    bottom:0;
    right: 0;

    cursor: pointer;
}

.button-timer{
    background-color: #E54A4A;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;

    position:fixed;
    bottom:0;
    left:0;

    cursor: pointer;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}